<div class="d-flex flex-column mb-4 mt-4">
  <div class="d-flex w-100 mb-4 pl-2 align-items-center">
    <app-dot-image
      [contentlet]="{ src: product.image, width: 100, alt: product.title }"
    ></app-dot-image>
    <div class="pl-4">
      <p>{{ product.title }}</p>
      <p class="bold">{{ product.retailPrice | currency : "$" }}</p>
    </div>
  </div>
  <div class="mb-4 pl-4" [innerHTML]="product.description"></div>
  <div class="mb-4 pl-4" *ngIf="specifications.length">
    <h2 class="mb-4">Specifications</h2>
    <p class="pb-2" *ngFor="let spec of specifications">
      {{ spec[0] }}: {{ spec[1] }}
    </p>
  </div>
</div>
