<ng-container *ngFor="let content of blogContent.content">
  <ng-container [ngSwitch]="content.type">
    <div *ngSwitchCase="'paragraph'" class="mb-2 mt-2">
      <p
        [blogContent]="content"
        [ngStyle]="{ 'text-align': content.attrs.textAlign }"
        app-blog-processor
      ></p>
    </div>

    <app-text
      *ngSwitchCase="'text'"
      [marks]="content.marks"
      [text]="content.text"
    ></app-text>

    <app-heading *ngSwitchCase="'heading'" [attrs]="content.attrs">
      <span [blogContent]="content" app-blog-processor></span>
    </app-heading>

    <div
      class="d-flex justify-content-center mb-4 mt-4"
      *ngSwitchCase="'dotImage'"
    >
      <app-dot-image
        [src]="content.attrs.data.asset"
        [height]="200"
        [width]="400"
        [alt]="content.attrs.data.title"
      ></app-dot-image>
    </div>

    <ul
      class="pl-4 mt-4 mb-4"
      *ngSwitchCase="'bulletList'"
      [blogContent]="content"
      app-blog-processor
    ></ul>
    <li
      *ngSwitchCase="'listItem'"
      [blogContent]="content"
      app-blog-processor
    ></li>

    <table
      class="mt-4 mb-4"
      *ngSwitchCase="'table'"
      [blogContent]="content"
      app-blog-processor
    ></table>
    <tr
      *ngSwitchCase="'tableRow'"
      [blogContent]="content"
      app-blog-processor
    ></tr>
    <th
      class="p-2"
      *ngSwitchCase="'tableHeader'"
      [blogContent]="content"
      app-blog-processor
    ></th>
    <td
      class="p-2"
      *ngSwitchCase="'tableCell'"
      [blogContent]="content"
      app-blog-processor
    ></td>

    <div class="debug-red" *ngSwitchDefault>
      This component is not supported {{ content.type }}
    </div>
  </ng-container>
</ng-container>
