:host {
  height: 50px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
}


.arrow-icon {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--secondary)
}

.disabled {
  color: grey;
}

.page {
  color: white;
}