:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  height: 25%;
  z-index: 1;
  animation: fadeIn 0.5s ease-in-out;
}

:host:hover {
  cursor: pointer;
}

:host:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 100px rgba(0, 0, 0, 1) inset;
  transition: all 0.3s ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

:host:hover::after {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.info-container {
  width: 100%;
  z-index: 1;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}

.item-container:hover .info-container {
  opacity: 0;
}

.item-container:hover .info-container-hover {
  opacity: 1;
}



.image-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.info-container-hover {
  height: 100%;
  width: 100%;
  z-index: 1;
  visibility: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.info-hover {
  color: white;
  line-break: strict;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.info {
  color: white;
  line-break: strict;
  font-size: 14px;
  margin-bottom: 2px;
}

.small {
  font-size: 12px;
}