<div class="d-flex flex-column justify-content-end flex-grow-1 h-100 item-container" [routerLink]="[blogData.id]">
    <div class="info-container">
        <p class="info">{{blogData.title}}</p>
        <p class="info small">{{blogData.postingDate | date:"mediumDate"}}</p>
    </div>
    <div class="info-container-hover">
        <p class="info-hover">{{blogData.teaser}}</p>
    </div>
    <div class="image-container">
       <app-dot-image [contentlet]="{src: blogData.imageURL, alt: blogData.title}"/>
    </div>
</div>
