@import url(./styles/index.css);

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary: rgb(17, 11, 54);
  --secondary: #C336E5;
  --spacing: 5px;
}

/* Debug colors */

.debug-blue {
  background-color: blue;
}

.debug-red {
  background-color: red;
}

.debug-yellow {
  background-color: yellow;
}