.item-container {
  flex-grow: 1;
  position: relative;
  min-height: 130px;
  max-height: 130px;
}

.item-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 100px rgba(0, 0, 0, 1) inset;
  transition: all 0.3s ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}


.item-container:hover::after {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.page-container {
  background-color: var(--primary);
}