<div
  class="d-flex flex-column flex-1 blog-container"
  *ngIf="data$ | async as blogData"
>
  <div class="d-flex">
    <app-dot-image
      [src]="blogData.imageURL"
      [width]="300"
      [height]="190"
    ></app-dot-image>
    <div class="d-flex flex-column justify-content-space-between pl-2 pb-2">
      <div>
        <h2>{{ blogData.title }}</h2>
        <p class="pt-2">
          Posting date: {{ blogData.postingDate | date : "mediumDate" }}
        </p>
        <p class="pt-2">Author: {{ blogData.author }}</p>
      </div>
      <div *ngIf="blogData.tags as tags" class="d-flex flex-wrap">
        <app-tag
          class="pt-2 pr-2"
          *ngFor="let tag of tags"
          [tagString]="tag"
        ></app-tag>
      </div>
    </div>
  </div>
  <div
    app-blog-processor
    class="mt-4"
    [blogContent]="blogData.blogContent"
  ></div>
</div>
